body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    color: white;
    background-position: bottom;
    background-position-x: -90px;
    width: 100%;
    background-image: url(../img/background.jpeg);
    box-shadow: 2px 2px 15px black;
    border-radius: 0 0 12px 12px;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    list-style: none;
    margin: 20px;
    margin-top: 35px;
    align-items: center;
    text-shadow: 0 0 5px black;
    transition: .3s;
}

header ul li:last-child {
    position: absolute;
    right: 20px;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

header ul li:last-child {
    margin-top: 18px;
    font-size: 50px;
    font-weight: bolder;
}

.logo {
    margin-top: 20px;
}

.logo a  img {
    width: 50px;
}

.foto-personale {
    width: 250px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px;
}


/* Index */

.container {
    padding: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    padding: 20px;
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(33, 33, 33, 0.7);
    border-radius: 50px;
    box-shadow: 3px 3px 8px black;
}

.input {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px;
}

.input:focus {
    outline: none;
}

.btn {
    margin: 10px;
    height: 25px;
    width: 80px;
    color: white;
    background: #6f2323;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 2px black;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forecast {
    
    padding: 20px;
    margin: 40px;
    width: 200px;
    background: rgb(145 199 245 / 83%);
    text-align: center;
    box-shadow: 0 0 5px;
    border-radius: 12px;
    margin-bottom: 50px;
}

section img {
    border-radius: 15px;
    box-shadow: 0 0 5px;
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    text-align: center;
    text-shadow: 0 0 1px white;
    border-top: .1px solid #2b2b2b;
}

footer ul {
    margin-left: -2.5em;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

footer ul li img{
    width: 35px;
}

.error {
    background: url(../img/error-404.jpeg);
}
