<footer>
    <h3>Follow me</h3>
    <ul>
        <li><img src="/img/facebook.png" alt=""></li>
        <li><img src="/img/instagram.png" alt=""></li>
        <li><img src="/img/linkedin.png" alt=""></li>
        <li><img src="/img/twitter.png" alt=""></li>
    </ul>
</footer>