<header>
    <ul>
        <li class="logo"><a  href="/"><img src="/img/logo.png" alt="Logo"></a></li>
        <li><a class="about" href="/">Weather</a></li>
        <li><a class="about" href="/about">About</a></li>
        <li><a class="help" href="/help">Help</a></li>
        <li>{{title}}</li>
    </ul>
    
</header>